body {
    background-color: #F4FAFF;
    color: #535657;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}
header {
    background: #4F646F;
    color: white;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}
nav ul li {
    margin: 0 15px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}
#hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #4F646F;
    position: relative;
    overflow: hidden;
}
.animated-piece {
    position: absolute;
    top: 10%;
    left: -100px;
    width: 50px;
    height: 50px;
    background: #B7ADCF;
    border-radius: 50%;
    animation: floatAnimation 6s infinite alternate ease-in-out;
}
@keyframes floatAnimation {
    0% {
        left: -100px;
        transform: rotate(0deg);
    }
    100% {
        left: 100vw;
        transform: rotate(360deg);
    }
}